<%- include("../partials/header") %> 

<h1 class="mt-4"><%= vehicle.brand %> <%= vehicle.model %> </h1>

<!-- RIDES -->
<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Driving Record
        <span id="add_ride_button"><i class="fas fa-plus mt-2 mr-1 float-right" title="Add new ride"></i></span>
        <span id="show_tools_button_dataTable"><i class="fas fa-search mt-2 mr-3 float-right" title="Tools"></i></span> 
    </div>
    
    <div class="card-body table-no-border rides_table">
        <form id="add_ride_form" action="/vehicles/<%= vehicle._id %>/rides" method="post">
            <div class="form-row mb-3 mx-2">
                <div class="col-md-3">
                    <label for="ride[date]">Date</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <input type="text" name="date_input" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datetimepicker({
                                locale: 'ru',
                                icons: {
                                    time: 'far fa-clock',
                                    date: 'fa fa-calendar',
                                    up: 'fa fa-arrow-up',
                                    down: 'fa fa-arrow-down',
                                    previous: 'fa fa-chevron-left',
                                    next: 'fa fa-chevron-right',
                                    today: 'fa fa-calendar-check',
                                    clear: 'fa fa-trash',
                                    close: 'fa fa-times'
                                },
                                format: "D.M.YYYY, HH:mm",
                                timeZone: "Europe/Bratislava",
                                defaultDate: moment()
                            });
                        });
                    </script>
                </div>
                
                <div class="col-md-2">
                    <label for="ride[from]">From</label>
                    <input class="form-control py-2" type="text" name="ride[from]" value="Zvolen" required/>
                </div>

                <div class="col-md-2">
                    <label for="ride[to]">To</label>
                    <input class="form-control py-2" type="text" name="ride[to]" required/>
                </div>
    
                <div class="col-6 col-md-2">
                    <label for="mileage_after">Mileage after</label>
                    <input class="form-control py-2" name="mileage_after" type="number" value="<%= vehicle.getCurrentMileage() %>"/>
                </div>

                <div class="col-6 col-md-1">
                    <label for="ride[distance]">Distance</label>
                    <input id="distance_input" class="form-control py-2" name="ride[distance]" type="number" required/>
                </div>

                <script>
                    var current_mileage = <%- vehicle.getCurrentMileage() %>
                    $("input[name=mileage_after]").on("change", function(){
                        $("#distance_input").val($(this).val() - current_mileage)
                    });
                </script>

                <div class="col-md-2">
                    <div class="custom-control custom-checkbox mt-2 mt-md-0 mb-2 mb-md-0">
                        <input type="checkbox" class="custom-control-input mt-4" id="round_trip" name="round_trip" checked>
                        <label class="custom-control-label" for="round_trip">Round trip</label>
                    </div>

                    <div class="">
                        <button class="btn btn-primary btn-block">Save</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="d-none d-sm-block">From</th>
                        <th>To</th>
                        <th>Km</th>
                        <% if(vehicle.author.equals(current_user._id)){ %> 
                            <th>Driver</th>
                        <% } %> 
                        <th class="d-none d-sm-block">Round</th>
                    </tr>
                </thead>
                <tbody>
                    <% vehicle.rides.forEach(ride => { %>
                        <% if(vehicle.author.equals(current_user._id) || ride.driver.id.equals(current_user._id)){ %> 
                            <tr>
                                <!-- create a string to sort date -->
                                <% var sort_date = ride.date.getFullYear().toString() %>
                                <% sort_date += ("0" + ride.date.getMonth().toString()).slice(-2) %>
                                <% sort_date += ("0" + ride.date.getDate().toString()).slice(-2) %>
                                <% sort_date += ("0" + ride.date.getHours().toString()).slice(-2) %>
                                <% sort_date += ("0" + ride.date.getMinutes().toString()).slice(-2) %> 

                                <td data-sort="<%= sort_date %>">
                                    <%= ride.date.getDate() %>.
                                    <%= ride.date.getMonth() + 1%>.  
                                    <!-- new Intl.DateTimeFormat('eu', { month: "long"}).format(new Date(ride.date)) -->
                                    <span class="d-none d-sm-inline"><%= ride.date.getFullYear() %></span>
                                </td>

                                <td class="d-none d-sm-block"><%= ride.from%> </td>
                                <td><%= ride.to%> </td>
                                <td><%= ride.distance %> </td>
                                <% if(vehicle.author.equals(current_user._id)){ %> 
                                    <td><%= ride.driver.username %></td>
                                <% } %> 
                                <td class="d-none d-sm-block">
                                    <% if(ride.round_trip){ %>
                                        <i class="fas fa-check"></i>
                                    <% }else{ %>
                                        <i class="fas fa-times"></i> 
                                    <% } %>
                                    <form action="/vehicles/<%= vehicle._id %>/rides/<%= ride._id %>?_method=DELETE" method="post">
                                        <button class="table_button bg-danger"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% } %> 
                    <% }); %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<% if(vehicle.author.equals(current_user._id)){ %> 
    <!-- DRIVERS -->
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-users mr-1"></i>
            Drivers
            <span id="add_ride_button"><i class="fas fa-plus mt-2 mr-1 float-right" title="Add driver" data-toggle="modal" data-target="#addDrverModal"></i></span>
            <span id="show_tools_button_driversTable"><i class="fas fa-search mt-2 mr-3 float-right" title="Tools"></i></span> 

        </div>
        <div class="card-body table-no-border">    
            <div class="table-responsive">
                <table class="table table-bordered" id="driversTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% vehicle.drivers.slice(1).forEach(driver => { %>
                        <tr>
                            <td>
                                <%= driver.username %>
                                <form action="/vehicles/<%= vehicle._id %>/drivers/<%= driver._id %>?_method=delete" method="POST">
                                    <button class="table_button bg-danger"><i class="fas fa-user-minus"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }); %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% } %> 

<!-- Add driver -->
<!-- Modal -->
<div id="addDrverModal" class="modal fade" role="dialog">
  <div class="modal-dialog w-75">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <p>Add driver to <strong><%= vehicle.brand %> <%= vehicle.model %></strong>:</p>
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-users mr-1"></i>
                Drivers
            </div>
            <div class="card-body table-no-border">    
                <div class="table-responsive">
                    <table class="table table-bordered" id="addDriversTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                            <tr>
                                <td>
                                    <%= user.username %>
                                    <form action="/vehicles/<%= vehicle._id %>/drivers/<%= user._id %>" method="POST">
                                        <button class="table_button bg-success"><i class="fas fa-user-plus"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger ml-1" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<% if(vehicle.author.equals(current_user._id)){ %> 
    <!-- Edit -->
    <!-- Edit button - trigger modal -->
    <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>

    <!-- Modal -->
    <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit <strong><%= vehicle.brand %> <%= vehicle.model %> </strong> </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/vehicles/<%= vehicle._id %>?_method=PUT" method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Brand</label>
                                <input class="form-control py-4" type="text" name="vehicle[brand]" value="<%= vehicle.brand %>" required/>
                            </div>
                        </div>
            
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Model</label>
                                <input class="form-control py-4" name="vehicle[model]" type="text" value="<%= vehicle.model %>" required/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="small mb-1">Mileage</label>
                        <input class="form-control py-4" name="vehicle[mileage]" type="number" value="<%= vehicle.mileage %>" required/>
                    </div> -->

                    <div class="form-group float-right">
                        <button class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger ml-1" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    </div>
<% } %> 

<!-- If the  user created the vehicle, he can delete it -->
<% if(vehicle.author.equals(current_user._id)){ %> 
    <!-- Delete -->
    <!-- Delete button - trigger modal -->
    <button class="btn btn-xs btn-danger ml-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        <div class="modal-body">
            <p>Do you really want to delte <strong><%= vehicle.brand %> <%= vehicle.model %></strong>?</p>
        </div>
        <div class="modal-footer">
            <form class="inline" action="/vehicles/<%= vehicle._id %>?_method=DELETE" method="post">
                <button class="btn btn-xs btn-danger">Yes</button>
            </form>
            <button type="button" class="btn btn-xs btn-primary ml-1" data-dismiss="modal">No</button>
        </div>
        </div>

    </div>
    </div>
<% }else{ %> 
    <!-- Remove for me -->
    <button class="btn btn-xs btn-danger ml-1" data-toggle="modal" data-target="#removeModal">Remove</button>

    <!-- Modal -->
    <div id="removeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        <div class="modal-body">
            <p>Do you really want to remove <strong><%= vehicle.brand %> <%= vehicle.model %></strong> from your account?</p>
        </div>
        <div class="modal-footer">
            <form class="d-inline" action="/vehicles/<%= vehicle._id %>/drivers/<%= current_user._id %>?_method=delete" method="post">
                <button class="btn btn-xs btn-danger">Yes</button>
            </form>
            <button type="button" class="btn btn-xs btn-primary ml-1" data-dismiss="modal">No</button>
        </div>
        </div>
    </div>
    </div>
<% } %> 
         
<%- include("../partials/footer") %> 