<%- include("../partials/header") %> 

<h1 class="mt-4"><%= vehicle.brand %> <%= vehicle.model %> </h1>


<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Driving Record
        <span id="add_ride_button"><i class="fas fa-plus mt-2 mr-1 float-right" title="Add new ride"></i></span>
        <span id="show_tools_button"><i class="fas fa-search mt-2 mr-3 float-right" title="Tools"></i></span> 
    </div>
    
    <div class="card-body">
        <form id="add_ride_form" action="/vehicles/<%= vehicle._id %>/rides" method="post">
            <div class="form-row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control py-2" type="text" name="ride[destination]" placeholder="Where to?" required/>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <input class="form-control py-2" name="ride[distance]" type="text" placeholder="How many km?" required/></div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <input class="form-control py-2" name="ride[driver]" type="text" placeholder="Who is driving?" required/></div>
                </div>
                <div class="col-md-2 form-group mt-0 mb-0">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
             </div>
        </form>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Destionation</th>
                        <th>Distance</th>
                        <th>Driver</th>
                    </tr>
                </thead>
                <tbody>
                    <% vehicle.rides.forEach(ride => { %>
                    <tr>
                        <td>
                            <%= new Intl.DateTimeFormat('en', { year: '2-digit' }).format(ride.time) %>.
                            <%= new Intl.DateTimeFormat('en', { month:'numeric' }).format(ride.time) %>.                         
                            <%= // new Intl.DateTimeFormat('en', { year: 'numeric' }).format(ride.time) %>
                        </td>
                        <td><%= ride.destination %> </td>
                        <td><%= ride.distance %> </td>
                        <td><%= ride.driver %>
                            <form class=".del" action="/vehicles/<%= vehicle._id %>/rides/<%= ride._id %>?_method=DELETE" method="post">
                                <button class="del"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }); %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete button - trigger modal (pop up) dialog -->
<button id="delete_vehicle_btn" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <p>Do you really want to delte <strong><%= vehicle.brand %> <%= vehicle.model %></strong>?</p>
      </div>
      <div class="modal-footer">
        <form class="inline" action="/vehicles/<%= vehicle._id %>?_method=DELETE" method="post">
            <button class="btn btn-xs btn-danger">Yes</button>
        </form>
        <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

         
<%- include("../partials/footer") %> 
